[Unit]
Description=code-server-bin
After=network.target

[Service]
Type=exec
ExecStart=/usr/bin/code-server-bin
Restart=always

[Install]
WantedBy=default.target
