[Unit]
Description=Bypass DPI SOCKS proxy
Documentation=https://github.com/hufrea/byedpi/blob/main/readme.txt
After=network-online.target

[Service]
ExecStart=/usr/bin/ciadpi --disorder 5 --auto=torst --tlsrec 6+s

[Install]
WantedBy=multi-user.target
