[Unit]
Description=OpenStack Image Service (code-named Glance) Registry server
After=syslog.target network.target

[Service]
Type=notify
NotifyAccess=all
Restart=always
User=glance
ExecStart=/usr/bin/glance-registry
PrivateTmp=true

[Install]
WantedBy=multi-user.target

