[Unit]
Description=OpenStack Image Service deferred image deletion service
After=syslog.target network.target

[Service]
Type=notify
NotifyAccess=all
Restart=always
User=glance
ExecStart=/usr/bin/glance-scrubber
PrivateTmp=true

[Install]
WantedBy=multi-user.target

