[Unit]
Description=ttyd daemon
Documentation=man:ttyd(1)
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ttyd -i lo -O login
ExecReload=/usr/bin/kill -HUP $MAINPID
KillMode=process
LimitNOFILE=512
LimitMEMLOCK=infinity
LimitSTACK=infinity

[Install]
WantedBy=multi-user.target
