[Unit]
Description=Monero P2P Daemon
After=network.target

[Service]
User=monero
Group=monero
StateDirectory=monero
LogsDirectory=monero
Type=simple
ExecStart=/usr/bin/monerod --config-file /etc/monero/monerod.conf --non-interactive
Restart=on-failure
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
