[Unit]
Description=Jackett Daemon
After=network.target

[Service]
SyslogIdentifier=jackett
Restart=always
RestartSec=5
Type=simple
User=jackett
Group=jackett
WorkingDirectory=/var/jackett
ExecStart=/bin/sh "/opt/jackett/jackett_launcher.sh"
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
