[Unit]
Description=DeepCool Digital

[Service]
ExecStart=/usr/bin/deepcool-digital-linux
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
