[Desktop Entry]
Name=Equibop
GenericName=Internet Messenger
Comment=Equibop is a Vesktop fork that is a free/libre cross platform desktop app aiming to give you a snappier Discord experience with Equicord pre-installed
Type=Application
Exec=/usr/bin/equibop %U
Icon=equibop
Categories=Network;InstantMessaging;
MimeType=x-scheme-handler/discord;
StartupWMClass=equibop
Keywords=discord;equicord;equibop
