#  SPDX-License-Identifier: LGPL-2.1-or-later
#
#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=Run on screen keyboard to unlock root
DefaultDependencies=no
Conflicts=shutdown.target
After=systemd-modules-load.service systemd-udevd.service
Before=systemd-ask-password-console.service systemd-ask-password-plymouth.service systemd-fsck-root.service
ConditionPathExists=!/dev/mapper/root

[Service]
Type=oneshot
ExecStart=/usr/bin/osk-sdl.sh
RemainAfterExit=true
