[Desktop Entry]
Comment=A simple and easy to use mod manager for several Unity games using Thunderstore.
Encoding=UTF-8
Exec=env DESKTOPINTEGRATION=false GDK_BACKEND=x11 /opt/r2modman/r2modman
Icon=r2modman
StartupWMClass=r2modman
Name=r2modman
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
MimeType=x-scheme-handler/ror2mm;
Categories=Game;
