[Unit]
Description=bee
Wants=network-online.target
After=network-online.target

[Service]
LimitNOFILE=4096
SyslogIdentifier=bee
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=bee
WorkingDirectory=/var/lib/bee
TimeoutSec=1200
Restart=always
ExecStart=/usr/bin/bee -c "/etc/bee/config.chrysalis-mainnet.toml"

[Install]
WantedBy=multi-user.target
