[Unit]
Description=Nitter
After=network.service
Requires=redis.service

[Service]
User=nitter
Environment="NITTER_CONF_FILE=/etc/nitter/nitter.conf"
ExecStart=/usr/bin/nitter

[Install]
WantedBy=multi-user.target
