[Unit]
Description=IPFS Cluster
After=ipfs.service

[Service]
CPUSchedulingPolicy=batch
Environment=IPFS_PATH=/var/lib/ipfs/.ipfs
ExecStart=/usr/bin/ipfs-cluster-service daemon
Group=ipfs
LimitNOFILE=8192
PrivateTmp=yes
ProtectSystem=full
Restart=on-failure
Type=simple
User=ipfs

[Install]
WantedBy=multi-user.target
