[Desktop Entry]
Version=1.0
Type=Application
Name=Coil64
Comment=Coil inductance calculator (formerly Coil32)
Exec=Coil64
Icon=coil64
Terminal=false
StartupNotify=false
Categories=Development;Science;
