[Unit]
Description=Canna Japanese Conversion Engine
After=syslog.target

[Service]
User=canna
Type=forking
ExecStart=/usr/sbin/cannaserver -syslog
ExecStop=/usr/sbin/cannakill

[Install]
WantedBy=multi-user.target
