[Unit]
Description=OpenStack Heat API
Documentation=http://docs.openstack.org/
After=postgresql.service mysql.service keystone.service rabbitmq-server.service ntp.service network.service

[Service]
User=heat
Group=heat
ExecStart=/etc/init.d/heat-api systemd-start
ExecStop=/etc/init.d/heat-api systemd-stop
PIDFile=/var/run/heat/heat-api.pid
Restart=on-failure
Type=forking

[Install]
WantedBy=multi-user.target
