[Unit]
Description=OpenStack Heat Engine
Documentation=http://docs.openstack.org/
After=postgresql.service mysql.service keystone.service rabbitmq-server.service ntp.service network.service

[Service]
User=heat
Group=heat
ExecStart=/etc/init.d/heat-engine systemd-start
ExecStop=/etc/init.d/heat-engine systemd-stop
PIDFile=/var/run/heat/heat-engine.pid
Restart=on-failure
Type=forking

[Install]
WantedBy=multi-user.target
