[Desktop Entry]
Name=Vesktop (bin)
Comment=Vencord Desktop is a free/libre cross platform desktop app aiming to give you a snappier Discord experience with Vencord pre-installed
GenericName=Internet Messenger
Type=Application
Exec=/usr/bin/vesktop-bin
Icon=vesktop-bin
Categories=Network;InstantMessaging;
StartupWMClass=vesktop
Keywords=discord;vencord;
