[Unit]
Description=Adult movie organizer/manager for usenet and torrent users.
After=syslog.target network.target network-online.target

[Service]
User=whisparr-eros
Group=whisparr-eros

Type=simple
ExecStart=/usr/bin/whisparr-eros
TimeoutStopSec=20
Restart=on-failure

PrivateTmp=yes
PrivateDevices=yes
PrivateMounts=yes
ProtectHome=yes
ProtectSystem=full
NoNewPrivileges=yes
ProtectHostname=yes
ProtectClock=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictRealtime=yes

[Install]
WantedBy=multi-user.target
