[Desktop Entry]
Type=Application
Version=1.0
Name=Katawa Shoujo
Comment=Bishoujo-style visual novel game that tells a story of a young man and five other girls suffering with varying disabilities
Icon=katawa-shoujo
Exec=/usr/bin/katawa-shoujo
Terminal=false
Categories=Game;
