[Unit]
Description=Whoogle
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=whoogle
WorkingDirectory=/opt/whoogle-search
EnvironmentFile=/etc/default/whoogle
ExecStart=/opt/whoogle-search/run
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=3
SyslogIdentifier=whoogle

[Install]
WantedBy=multi-user.target